  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-center">
          <div class="rounded">
            <div class="form-header text-center">
              <div class="type-textbound">
                <span class="anime">新規登録</span>
              </div>
            </div>
              <div class="form-body">
                <div class="anime">
                <div class="card"  style= "width: 100%;">
                  
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>
                  <table class="table table-hover table-striped">
                  <colgroup span="1" width="40%"></colgroup>
                  <colgroup span="1" width="60%"></colgroup>

                    <thead></thead>

                    <tbody>

                        <!-- 子供をカスタマイズ -->
                      <%= f.fields_for :users_children do |child| %>

                        <tr align="center">
                        <!-- 姓 -->
                          <div class="field">
                            <td><%= child.label :名前（性） %><br /></td>
                            <td><%= child.text_field :name_kanji_sei, autofocus: true, autocomplete: "name_kanji_sei", :size => "25*25" %></td>
                          </div>
                        </tr>

                        <tr align="center">
                          <!-- 名 -->
                          <div class="field">
                            <td><%= child.label :名前（名） %><br /></td>
                            <td><%= child.text_field :name_kanji_mei, autofocus: true, autocomplete: "name_kanji_mei", :size => "25*25" %></td>
                          </div>
                        </tr>

                        <tr align="center">
                  <!-- セイ -->
                          <div class="field">
                            <td><%= child.label :名前（カナ性） %><br /></td>
                            <td><%= child.text_field :name_kana_sei, autofocus: true, autocomplete: "name_kana_sei", :size => "25*25" %></td>
                          </div>
                        </tr>

                        <tr align="center">
                      　<!-- メイ -->
                          <div class="field">
                            <td><%= child.label :名前（カナ名） %><br /></td>
                            <td><%= child.text_field :name_kana_mei, autofocus: true, autocomplete: "name_kana_mei", :size => "25*25" %></td>
                          </div>
                        </tr>

                        <!-- 郵便番号 -->
                        <tr align="center">
                          <div class="field">
                            <td><%= child.label :郵便番号 %><br /></td>
                            <td><%= child.text_field :post_code, autofocus: true, autocomplete: "post_code", :size => "25*25", maxlength: '7' %></td>
                          </div>
                        </tr>

                        <tr align="center">
                        <!-- 住所 -->
                          <div class="field">
                            <td><%= child.label :住所 %><br /></td>
                            <td><%= child.text_field :address, autofocus: true, autocomplete: "address", :size => "25*25" %></td>
                          </div>
                        </tr>
                      <% end %>

                      <tr align="center">
                        <!-- カスタマイズ -->
                        <div class="field">
                          <td><%= f.label :電話番号 %><br /></td>
                          <td><%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", :size => "25*25" %></td>
                        </div>
                      </tr>

                      <tr align="center">

                        <div class="field">
                          <td><%= f.label :メールアドレス %><br /></td>
                          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", :size => "25*25" %></td>
                        </div>
                      </tr>

                      <tr align="center">

                        <div class="field">
                          <td><%= f.label :パスワード %></td>
                          <% if @minimum_password_length %>
                          <% end %><br />
                          <td><%= f.password_field :password, autocomplete: "new-password", :size => "25*25" %></td>
                        </div>
                      </tr>

                      <tr align="center">

                        <div class="field">
                          <td><%= f.label :パスワード確認 %><br /></td>
                          <td><%= f.password_field :password_confirmation, autocomplete: "new-password", :size => "25*25" %></td>
                        </div>
                      </tr>
                </tbody>
              </table>
                <div class="actions">
                  <%= f.submit "登録", class: "anime_test btn btn-success btn-block" %>
                </div>
                <% end %>
              </div>
              </div>


                <%= render "devise/shared/links" %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
