<div class="title">
	<h1>ユーザー一覧</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
			<thead>
				<colgroup span="1" style="width:5%;">
				<colgroup span="2" style="width:10%;">
				<colgroup span="1" style="width:20%;">
				<colgroup span="1" style="width:7%;">

			<div class="row">
					<th>ID</th>
					<th>名前</th>
					<th>郵便番号</th>
					<th>住所</th>
					<th>e-mail</th>
				</div>
				
			</thead>
			
			<% @children.each do |child| %>
				<tbody>
					<!-- 複数の子供がいた場合は、先頭だけもってくる -->
					<% if @temp_array.include?(child.user_id)  %>
						
					<% else %>
						<td><%= child.user.id %></td>
						<td><%= child.name_kanji_sei + child.name_kanji_mei %></td>
						<td>〒<%= child.post_code.chars[0] + child.post_code.chars[1] + child.post_code.chars[2] + "-" + child.post_code.chars[3] + child.post_code.chars[4] + child.post_code.chars[5] + child.post_code.chars[6] %></td>
						<td><%= child.address %></td>
						<td><%= child.user.email %></td>
						<% @temp_array.push(child.user_id) %>
					<% end %>

					
					<td><%#= user.name_kanji_sei %><%#= user.name_kanji_mei %></td>
					<td><%#= user.users_child.post_code %></td>
					<td><%#= user.address %></td>
					<td><%#= user.mail_address %></td>
				</tbody>
			<% end %>

			</table>
		</div>
		
		  <button type="button" class="btn btn-primary mx-auto">
 			<%#<%= link_to "戻る", %>戻る
 		  </button>
 		
	</div>
</div>
 