<div class="title">
	<h1>ユーザー詳細</h1>
</div>

<div class="d-flex justify-content-end">
	<div class="m-2">
			<%= link_to "編集", edit_admin_user_path(@user.id), class: "btn btn-primary" %>
	</div>

	<div class="m-2">
			<%= link_to "削除", destroy_admin_user_path(@user.id),method: :delete,class: "btn btn-primary .m-auot"  %>
	</div>

	<div class="m-2">
			<%= link_to "戻る", admin_path, class: "btn btn-primary .m-auto" %>
	</div>
</div>

<!-- ユーザー情報 -->
  	<br>
  	<table class="table table-bordered">

  		<colgroup span="1" width="20%"></colgroup>
  		<colgroup span="1" width="80%"></colgroup>

  		<thead>
  		</thead>
  		
  		<tbody>
  			<tr align="center">
  				<td>名前</td>
  				<td><%= @child.name_kanji_sei + @child.name_kanji_mei %></td>
  			</tr>
  			<tr align="center">
  				<td>名前（カナ）</td>
  				<td><%= @child.name_kana_sei + @child.name_kana_mei %></td>
  			</tr>
  			<tr align="center">
  				<td>郵便番号</td>
  				<td>〒<%= @child.post_code.chars[0] + @child.post_code.chars[1] + @child.post_code.chars[2] + "-" + @child.post_code.chars[3] + @child.post_code.chars[4] + @child.post_code.chars[5] + @child.post_code.chars[6] %></td>
  			</tr>
  			<tr align="center">
  				<td>住所</td>
  				<td><%= @child.address %></td>
  			</tr>
  			<tr align="center">
  				<td>メールアドレス</td>
  				<td><%= @child.user.email %></td>
  			</tr>
  			
  		</tbody>
  	</table>
  </div>
</body>

  	<!-- 購入情報 -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="my-3">
				<h1 class="text-center">購入履歴</h1>
			</div>
			<br>
			<table class="table table-bordered">
			<!-- table-striped:ボーダー設定 -->

				<colgroup span="1" width="10%"></colgroup>
				<colgroup span="1" width="12%"></colgroup>
				<colgroup span="1" width="38%"></colgroup>
				<colgroup span="1" width="20%"></colgroup>
				<colgroup span="1" width="10%"></colgroup>
				<colgroup span="1" width="10%"></colgroup>

			    <thead>
			        <tr>
			        	<!-- 文字数で勝手にテーブルサイズが変更される対応 -->
			        		<th class="text-center">購入者</th>
			        		<th class="text-center">購入日</th>
			        		<th class="text-center">購入内容</th>
			        		<th class="text-center">送付先</th>
			        		<th class="text-center">送付先氏名</th>
			        		<th class="text-center">ステータス</th>
			        	<!-- text-center:中央揃え -->
			        </tr>
			    </thead>
			    <tbody>

					<% @orders.each do |order| %>
						<tr>
							<!-- 1.購入者 -->
							<td class="text-center"><%= order.user.users_children[0].name_kanji_sei + order.user.users_children[0].name_kanji_mei %></td>

							<!-- 2.購入日 -->
							<td class="text-center small"><%= order.created_at.strftime("%Y-%m-%d") %></td>

							<!-- 3.購入内容 -->
							<td>
								<% order.orders_children.each do |order_child| %>

									<!-- 購入内容を2分割にする。 -->
							        	<div class="row">
							        		<div class="col-md-6">
							        			<!-- small:文字のサイズを75％ -->
							        			<!-- text-right:右揃え -->
							        			<p class="small text-right">シングル/アルバム名:</p>
								            	<p class="small text-right">価格:</p>
								            	<p class="small text-right">購入枚数:</p>
								            	<p class="small text-right">小計:</p>
							        		</div>
							        		<div class="col-md-6">
							        			<!-- text-center:中央揃え -->
							        			<p class="small text-center"><%= order_child.good.goods_title %></p>
								            	<p class="small text-center">¥<%= order_child.good.price %>円</p>
								            	<p class="small text-center"><%= order_child.order_value %>枚</p>
								            	<p class="small text-center">¥<%= order_child.good.price * order_child.order_value %>円</p>
							        		</div>
							        	</div>
									
								<% end %>
							</td>

							<!-- 4.送付先 5.送付先氏名 -->
							<!-- 登録された住所か、手入力された住所かを分岐する。 -->
							<!-- 手入力 -->
							<% if order.delivery_select_flag == 0 %>

								<!-- 4.送付先 -->
								<td>
									<!-- slice:(0..2) 1文字目〜3文字目を取り出す -->
									<p class="small text-center">〒<%= order.other_post_code.slice(0..2) + "-" + order.other_post_code.slice(3..6) %></p>
									<p class="small text-center"><%= order.other_address %></p>
								</td>

								<!-- 5.送付先氏名 -->
								<td class="text-center"><%= order.other_name %></td>

							<!-- 登録済みの住所 -->
							<% else %>

								<!-- 4.送付先 -->
								<td>
									<p class="small text-center">〒<%= order.user.users_children[0].post_code.slice(0..2) + "-" + order.user.users_children[0].post_code.slice(3..6) %></p>
									<p class="small text-center"><%= @child.address %></p>
								</td>

								<!-- 5.送付先氏名 -->
								<td class="text-center"><%= @child.name_kanji_sei + @child.name_kanji_mei %></td>


							<% end %>

							<!-- 6.出荷ステータス -->
							<td class="text-center">
								<% if order.delivery_status == 2 %>
									<%= link_to " 出荷済み", edit_admin_order_path(order.id) %>
								<% elsif order.delivery_status == 1 %>
									<%= link_to " 準備中", edit_admin_order_path(order.id) %>
								<% else %>
									<%= link_to " 受付中", edit_admin_order_path(order.id) %>
								<% end %>
					        </td>
						</tr>
					<% end %>

			    </tbody>
			</table>
		</div>
	</div>
</div>