<body>
  <div class="container">
  	<div class="copy-container">
  		<br>
  		<button type="button" class="btn btn-primary btn-lg btn-block">マイページ</button>
  		<h1 align="center">ようこそ！！<br><%= @user.users_children[0].name_kanji_mei %>さん</h1>
  		<!-- <button type="button" class="btn btn-primary btn-lg btn-block">登録情報の編集</button> -->
      <button type="button" class="btn btn-default btn-block">
    <%= link_to "編集", edit_user_path(current_user) %>
  </button>
  	</div>


  	<!-- ユーザー情報 -->
  	<br>
  	<table class="table table-bordered">

  		<colgroup span="1" width="20%"></colgroup>
  		<colgroup span="1" width="80%"></colgroup>

  		<thead>
  		</thead>

  		<tbody>
  			<tr align="center">
  				<td>名前</td>
  				<td><%= @user.users_children[0].name_kanji_sei + " " +  @user.users_children[0].name_kanji_mei %></td>
  			</tr>
  			<tr align="center">
  				<td>名前（カナ）</td>
  				<td><%= @user.users_children[0].name_kana_sei + " " + @user.users_children[0].name_kana_mei %></td>
  			</tr>
  			<tr align="center">
  				<td>郵便番号</td>
  				<td>〒<%= @user.users_children[0].post_code.chars[0] + @user.users_children[0].post_code.chars[1] + @user.users_children[0].post_code.chars[2] + "-" + @user.users_children[0].post_code.chars[3] + @user.users_children[0].post_code.chars[4] + @user.users_children[0].post_code.chars[5] + @user.users_children[0].post_code.chars[6] %></td>
  			</tr>
  			<tr align="center">
  				<td>住所</td>
  				<td><%= @user.users_children[0].address %></td>
  			</tr>
  			<tr align="center">
  				<td>メールアドレス</td>
  				<td><%= @user.email %></td>
  			</tr>
  			
  		</tbody>
  	</table>
  </div>
</body>

  	<!-- 購入情報 -->

<!-- 購入履歴表示部分 bootstrapでレイアウト変更 -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">購入履歴</h1>
      <br>
      <table class="table table-bordered">
      <!-- table-striped:ボーダー設定 -->

        <!-- <colgroup span="1" width="10%"></colgroup> -->
        <colgroup span="1" width="12%"></colgroup>
        <colgroup span="1" width="48%"></colgroup>
        <colgroup span="1" width="20%"></colgroup>
        <colgroup span="1" width="10%"></colgroup>
        <colgroup span="1" width="10%"></colgroup>

          <thead>
              <tr>
                <!-- 文字数で勝手にテーブルサイズが変更される対応 -->
                  <!--<th class="text-center">購入者</th> -->
                  <th class="text-center">購入日</th>
                  <th class="text-center">購入内容</th>
                  <th class="text-center">送付先</th>
                  <th class="text-center">送付先氏名</th>
                  <th class="text-center">ステータス</th>
                <!-- text-center:中央揃え -->
              </tr>
          </thead>
          <tbody>
              <tr>
                <% @orders.each do |order| %>
                  <!-- <td class="text-center"><%#= order.created_at.strftime("%Y-%m-%d") %></td> -->
                  <td class="text-center small"><%= order.created_at.strftime("%Y-%m-%d") %></td>
                  
                  <% order.orders_children.each do |order_child| %>
                  <td>
                    <!-- 購入内容を2分割にする。 -->
                  <div class="row">
                    <div class="col-md-6">
                      <!-- small:文字のサイズを75％ -->
                      <!-- text-right:右揃え -->
                      <p class="small text-right">シングル/アルバム名:</p>
                        <p class="small text-right">価格:</p>
                        <p class="small text-right">購入枚数:</p>
                        <p class="small text-right">小計:</p>
                    </div>
                    <div class="col-md-6">
                      <!-- text-center:中央揃え -->
                      <p class="small text-center"><%= order_child.good.goods_title %></p>
                        <p class="small text-center">¥<%= order_child.good.price %>円</p>
                        <p class="small text-center"><%= order_child.order_value %>枚</p>
                        <p class="small text-center">¥<%= order_child.good.price * order_child.order_value %>円</p>
                    </div>
                  </div>
                  </td>
                  <% end %>
                  <td>
                    <p class="small text-center">〒<%= @post_code.chars[0] + @post_code.chars[1] + @post_code.chars[2] + "-" + @post_code.chars[3] + @post_code.chars[4] + @post_code.chars[5] + @post_code.chars[6] %></p>
                    <p class="small text-center"><%= @address %></p>
                  </td>
                  <td class="text-center"><%= @name %></td>
                  <td class="text-center"><a href="#">受付</a></td>
                <% end %>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>

  	<br>
  	<button type="button" class="btn btn-danger btn-lg btn-block">退会</button>
