<div class="main-visual" style="margin: 50px;">
  <div class="a" style="text-align: center;">
	<h2>配送状況変更</h2>
  </div>
</div>

<main clss="main" style="margin-top: 100px;">
	<div class="goods_title" style="text-align: center;">
		<div class="card">
		<%# <%= @goods.each do |good| %>
			<h3 class="card-body">abab <%# <%=good.goods_title %></h3>
		<%# <% end %>
			<h4 class="card-body">2019年5月1日</h4>
		</div>
	</div>
	<div class="card" style="text-align: center;">
		<div class="card-body">
		<h4 class="" style="margin: 20px 0 20px 0;">現ステータス</h4>
			<h3><span class="badge badge-info">受付</span></h3>
		</div>
	</div>
	<div class="" style="text-align: center;">
		<div class="" style="margin: 150px 0 20px 0;">
			<h3>配送状況変更</h3>
			<%#<label>
				<%= radio_button :delivery_status, "受付" %><%#受付
			</label>
			<label>
				<%= radio_button :delivery_status, "準備中" %><%#準備中
			</label>
			<label>
				<%= radio_button :delivery_status, "出荷完了" %><%#出荷完了
			</label>%>

			<!--上のラベルの方をform_forで送る　-->
			<select>
   				<option value="値">受付</option>
   				<option value="値">準備中</option>
   				<option value="値">出荷完了</option>
			</select>
		</div>
	</div>
	<div class="container" style="text-align: center;">
		
			<div class="" style="margin: 30px;">
				<!-- form_forで送る？ -->
				<button type="button" class="btn btn-success">
		 			<%#<%= link_to "保存", %>保存
		 		 </button>
	 		</div>
	 		<div class="" style="margin: 50px;">
		 		 <button type="button" class="btn btn-primary">
		 			<%#<%= link_to "戻る", %>戻る
		 		 </button>
	 		</div>
 		
 	</div>
</main>	