<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-center">
          <div class="rounded">
            <div class="form-header text-center">
              <h2 class="form-header-title">ログイン</h2>
            </div>
              <div class="form-body">
                <div class="card"  style= "width: 100%;">

                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                      <div class="field">

                        <table class="table table-hover table-striped">
                  <colgroup span="1" width="40%"></colgroup>
                  <colgroup span="1" width="60%"></colgroup>

                    <thead></thead>

                    <tbody>

                      <tr align="center">
                        <div class="field">
                          <td><%= f.label :アドレス %><br /></td>
                          <td><%= email_field :email, autofocus: true, autocomplete: "email" %></td>
                        </div>
                      </tr>

                      <tr align="center">

                        <div class="field">
                          <td><%= f.label :パスワード %><br /></td>
                          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
                        </div>
                      </tr>

                      <!-- <tr align="center">
                        <%# if devise_mapping.rememberable? %>
                        <div class="field">
                          <td><%#= f.check_box :remember_me %></td>
                          <td><%#= f.label :remember_me %></td>
                        </div>
                      </tr> -->
                      <%# end %>

                      </tbody>
                    </table>

                      <div class="actions">
                        <%= f.submit "Log in", class: "btn btn-warning btn-block" %>
                      </div>
                    <% end %>

                    <%= render "devise/shared/links" %>
