<%= flash[:notice] %>
<div class="clearfix">
<div class="container">
  <div class="row">
    <%= form_for @good, url: search_path do |f| %>
    <%= f.text_field :goods_title %>
  	<!-- <form class="col-lg-2">
      <div class="form-group">
        <label class="control-label">商品名</label>
      </div>
  	  <button type="button" class="btn btn-default">検索</button>
    </form> -->
    <%= f.submit "検索" %>
    <% end %>
  </div>
  <% @goods.each do |good| %>
    <div class="card" style= "margin: 20px; width: 21%; float: left;">
      <table class= "table table-hover">
        <thead></thead>
        <tbody>
          <tr align="center">
      	   <td><a href="<%= "/goods/#{good.id}" %>"><%= attachment_image_tag good, :jacket_image, format: "jpeg", fallback: "no_image.jpg", size: "200x200" %></a></td>
          </tr>
          <tr align="center">
      	   <td><%= good.goods_title.slice(0..23) %></td>
          </tr>
          <tr align="center">
            <td><%= good.artist.slice(0..23) %></td>
          </tr>
          <tr align="center">
      		  <td><%= good.price %>円</td>
          </tr>
        <!-- 後で追加必要あり -->
          <tr align="center">
      		  <td>在庫あり</td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
</div>
