
<div class="container">
	<h2>商品詳細</h2>

	<div class="row">
		<!-- ジェケット画像表示させる所 -->
		<div class="col-md-4">
				<div class="card">
					<div class="card-body text-center">
						<%= attachment_image_tag @good, :jacket_image, format: "jpeg", fallback: "no_image.jpg", size: "300x300" %>
					</div>
				</div>
		</div>
		<!-- 商品名とかを表示させる所 -->
		<div class="col-md-8">
			<div class="card">
				<div class="card-body text-center">
					<%= @good.goods_title %>
				</div>
			</div>

			<br>

			<div class="card">
				<div class="card-body text-center">
					<%= @good.artist %>
				</div>
			</div>

			<br>

			<div class="card">
				<div class="card-body text-center">
					<%= @good.price %>円
				</div>
			</div>

			<br>

			<div class="card">
				<div class="card-body text-center">
					在庫あり
				</div>
			</div>

		</div>
	</div>

	<br>

	<div class="card">
		<div class="card-body">
			<h3>商品説明</h3>

			<p>CD: 1枚目</p>
			<% @music_titles.each do |title| %>
			<!-- cssに書いた方がいいかも -->
			<p  style="line-height: 6px"><%= title.song %></p>
			<!--<p  style="line-height: 6px">2.bbbb</p>
			<p  style="line-height: 6px">3.cccc</p>
			<p  style="line-height: 6px">4.dddd</p> -->
			<% end %>
		</div>
	</div>

	<br>

	<!-- 商品説明部分 -->
	<%= form_for @cart, url: carts_path do |cart| %>
		<div class="row">
			<div class="col-md-5">
				<div class="card">
					<div class="card-body">
						<!-- bootstrapのフォームを仮置きしてます。 form_forとかに書き換え必要かもしれません。-->
						<div class="form-group row">
						    <label for="text3a" class="col-sm-2 col-form-label">個数</label>
						    <div class="col-sm-7">
						     <!-- <input type="text" id="text3a" class="form-control"> -->
						     <%= cart.number_field :cart_value %>
						    </div>
						    <div class="col-sm-3">
						    	<p>個</p>
						    </div>
					  	</div>
					</div>
				</div>
			</div>
		<!-- 左の余白作る用。 -->
		<div class="col-md-7">
		</div>
	</div>
	<br>

	<!-- 2つのボタンを中央揃えにする。 -->
	<div class="row">
		<div class="col-md-6">
			<%= cart.submit "カートに追加", class: "btn btn-warning btn-lg btn-block" %>
			<!--<button type="button" class="btn btn-warning btn-lg btn-block">カートに追加</button> -->
		</div>

		<div class="col-md-6">
			<button type="button" class="btn btn-primary btn-lg btn-block">戻る</button>
		</div>
	</div>
	<% end %>

</div>
