<!DOCTYPE html>
<html>
  <head>
    <title>AlpsRecord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- <a class="navbar-brand" href="#">アルプスレコード</a> -->
      <%= link_to "アルプスレコード", "/", class: "header-title navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!-- ユーザーがログインしているか確認 -->
          <% if user_signed_in? %>

            <!-- 管理者がログインしている場合 -->
            <% if current_user.admin_flag == 1  %>
              <!-- <a class="nav-item nav-link active" href="#">管理者ページ</a> -->
              <%= link_to '管理者ページ', admin_users_path, class: "header-title nav-item nav-link active" %>
              <!-- <a class="nav-item nav-link" href="#">商品一覧</a> -->
              <%= link_to '商品一覧', admin_goods_path, class: "header-title nav-item nav-link" %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header-title nav-item nav-link" %>
            <!-- ユーザーがログインしている場合 -->
            <% else %>
                <!-- <a class="nav-item nav-link" href="#">マイページ</a> -->
                <%= link_to 'マイページ', user_path(current_user.id), class: "header-title nav-item nav-link" %>
                <!-- <a class="nav-item nav-link" href="#">商品一覧</a> -->
                <%= link_to '商品一覧', goods_path, class: "header-title nav-item nav-link" %>
                <!-- <a class="nav-item nav-link" href="#">カート</a> -->
                <%= link_to 'カート', carts_path, class: "header-title nav-item nav-link" %>
                <!-- <a class="nav-item nav-link disabled" href="#">ログアウト</a> -->
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header-title nav-item nav-link" %>
            <% end %>

          <!-- ログインしていない場合 -->
          <% else %>
            <!-- <a class="nav-item nav-link" href="#">新規登録</a> -->
            <%= link_to '新規登録', new_user_registration_path, class: "header-title nav-item nav-link" %>
            <!-- <a class="nav-item nav-link" href="#">ログイン</a> -->
            <%= link_to 'ログイン', new_user_session_path, class: "header-title nav-item nav-link" %>
            <!-- <a class="nav-item nav-link" href="#">商品一覧</a> -->
            <%= link_to '商品一覧', goods_path, class: "header-title nav-item nav-link" %>

          <% end %>

        </div>
      </div>
    </nav>
    <br>
    <%= yield %>
  <footer>
      <p class="footer-text">あなたに素敵な音楽が届きますように...</p>
      <p class="footer-title">アルプスレコード</p>
  </footer>
  </body>
</html>

