<!DOCTYPE html>
<html>
  <head>
    <title>AlpsRecord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">アルプスレコード</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!-- ユーザーがログインしているか確認 -->
          <% if user_signed_in? %>

            <!-- 管理者がログインしている場合 -->
            <% if current_user.admin_flag == 1  %>
              <a class="nav-item nav-link active" href="#">管理者ページ</a>
              <a class="nav-item nav-link" href="#">商品一覧</a>
            <!-- ユーザーがログインしている場合 -->
            <% else %>
                <a class="nav-item nav-link" href="#">マイページ</a>
                <a class="nav-item nav-link" href="#">商品一覧</a>
                <a class="nav-item nav-link" href="#">カート</a>
                <!-- <a class="nav-item nav-link disabled" href="#">ログアウト</a> -->
                <%= link_to 'logout', destroy_user_session_path, method: :delete %>
            <% end %>

          <!-- ログインしていない場合 -->
          <% else %>
            <a class="nav-item nav-link" href="#">新規登録</a>
            <a class="nav-item nav-link" href="#">ログイン</a>
            <a class="nav-item nav-link" href="#">商品一覧</a>

          <% end %>

        </div>
      </div>
    </nav>
    <br>
    

    <%= yield %>
  </body>
  <footer>
    <div class="container">
      <div class="d-flex justify-content-end">
        <p>アルプスレコード</p>
      </div>
    </div>
  </footer>
</html>

